.bproduct-image-box {
    width: 51%;
    max-width: 520px;
       max-width: 520px;
    height: 45vh;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background: #f5f5f5;

}